body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
  }
  
  p {
    color: #484A4C;
    font-size: 18px;
    line-height: 26px;
  }
  
  h1 {
    color: #134880;
    font-size: 32px;
    margin: 0;
    line-height: 38px;
  }
  
  .container {
    width: 940px;
    margin: 0 auto;
  }
  
  .text-container {
    width: 300px;
    float: left;
    letter-spacing: -0.2px;
  }
  
  .slider {
    width: 600px;
    float: left;
    margin-right: 20px;
  }
  .slider ul {
    list-style: none;
    display: flex;
    float: right;
    margin: 0;
  }
  .slider ul img {
    margin: 0 0 5px 10px;
    padding: 0;
    height: 200px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .slider .second-row {
    margin-right: 150px;
    flex-direction: row;
  }
  
  .arrows {
    float: right;
  }
  .arrows .left, .arrows .right {
    margin: 0 0 10px 80px;
    padding: 15px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #DDDDDD;
    text-align: center;
  }
  .arrows .left:hover, .arrows .right:hover {
    border-color: #134880;
    color: #134880;
  }
  
  .block-left, .block-right, .block-down {
    float: left;
    width: 300px;
    height: 100px;
    background-color: #DDDDDD;
    border-radius: 0 0 5px 5px;
    margin: 0 0 60px 0;
  }
  
  .block-right {
    width: 620px;
    margin-left: 20px;
  }
  
  .block-down {
    margin: 50px 0 0 0;
    width: 940px;
    border-radius: 5px 5px 0 0;
  }
  
